<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top bg-dark navbar-custom navbar-dark">
        <div class="container"><a class="navbar-brand" href="#">VisualizeIt</a><button data-bs-toggle="collapse"
                class="navbar-toggler" data-bs-target="#navbarResponsive"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Log In</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="text-center text-white masthead">
        <div class="masthead-content">
            <div class="container">
                <h1 class="masthead-heading mb-0">Visualize Your Data</h1>
                <h5 class="masthead-subheading mb-0"><span style="font-weight: normal !important;">Give the CSV file as
                        input for the data to be visualized</span></h5>
                <form form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                    <input class="btn btn-primary btn-xl rounded-pill mt-5" type="file" name="csv_file" accept=".csv, text/csv">
                    <button class="btn btn-primary btn-xl rounded-pill mt-5" type="submit">Upload and Process</button>
                </form>
                
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 text-center">
                    {% if plot_url %}
                        <div class="mt-5">
                            <img src="{{ plot_url }}" alt="Category Plot" class="img-fluid">
                        </div>
                    {% endif %}
                    <hr>
                    {% if plot_url_branch %}
                        <div class="mt-5">
                            <img src="{{ plot_url_branch }}" alt="Branch Plot" class="img-fluid">
                        </div>
                    {% endif %}
                    <hr>
                    {% if plot_url_city %}
                        <div class="mt-5">
                            <img src="{{ plot_url_city }}" alt="City Plot" class="img-fluid">
                        </div>
                    {% endif %}
                    <hr>
                    {% if plot_url_date %}
                        <div class="mt-5">
                            <img src="{{ plot_url_date }}" alt="Date Plot" class="img-fluid">
                        </div>
                    {% endif %}
                    <hr>
                    {% if plot_url_pm %}
                        <div class="mt-5">
                            <img src="{{ plot_url_pm }}" alt="PM Plot" class="img-fluid">
                        </div>
                    {% endif %}
                    <hr>
                    {% if plot_url_cogs %}
                        <div class="mt-5">
                            <img src="{{ plot_url_cogs }}" alt="Cogs Plot" class="img-fluid">
                        </div>
                    {% endif %}
                    <hr>
                    {% if plot_url_gross %}
                        <div class="mt-5">
                            <img src="{{ plot_url_gross }}" alt="Gross Plot" class="img-fluid">
                        </div>
                    {% endif %}
                    <hr>
                    {% if plot_url_rating %}
                        <div class="mt-5">
                            <img src="{{ plot_url_rating }}" alt="Rating Plot" class="img-fluid">
                        </div>
                    {% endif %}
                    <hr>
                    {% if plot_url_unit %}
                        <div class="mt-5">
                            <img src="{{ plot_url_unit }}" alt="Unit Plot" class="img-fluid">
                        </div>
                    {% endif %}
                    <hr>
                    {% if plot_url_gender %}
                        <div class="mt-5">
                            <img src="{{ plot_url_gender }}" alt="gender Plot" class="img-fluid">
                        </div>
                    {% endif %}
                    <hr>
                    {% if plot_url_gender %}
                        <div class="mt-5">
                            <img src="{{ plot_url_type }}" alt="Type Plot" class="img-fluid">
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>